<%- include('partials/header.ejs') %>

<% if (!posts) { %>
  <body>
    <main>
      <section class="headerSection" style=" background-size:cover;">
        <div class="header">
          <h1>#404 Not Found</h1>
          <a href="/compose"><button type="button" name="button">Contribute to our blog!</button></a>
        </div>
      </section>
    <div class="container">
<h1><%- msg %></h1>

<% } else { %>
<%  for(i = (posts.length - 1); i >= 0; i--) { %>
  <body>
    <section class="headerSection" style=" background-size:cover;">
      <div class="header">
        <h1><%= posts[i].title %></h1>
        <a href="/compose"><button type="button" name="button">Contribute to our blog!</button></a>
      </div>
    </section>
    <div class="container">
      <main>
<h1><%= posts[i].title %></h1>
<p>
  <%- posts[i].post %>
</p>
<p><i><small><%= posts[i].date %></small></i></p>
<%  } %>
<% } %>
<p>
  <strong>Contribute to our blog!</strong> <a href="/compose">Click here</a> | <a href="/">Home</a>
</p>

<%- include('partials/footer.ejs') %>
